[submodule "bundle/nerdtree"]
	path = ".vim/bundle/nerdtree"
	url = https://github.com/scrooloose/nerdtree.git
	ignore = all

[submodule "bundle/nerdtree-git-plugin"]
	path = ".vim/bundle/nerdtree-git-plugin"
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	ignore = all
