[user]
	name = Nbw
	email = nbw.adm@gmail.com
[merge]
	tool = vimdiff
[push]
	default = matching
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	co = checkout
	ci = commit
	st = status
	br = branch
[core]
	quotepath = false
